node_modules/
.pnpm-store/
dist/
build/
.next/
.turbo/
coverage/
playwright-report/
test-results/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.tsbuildinfo
.cache/
.eslintcache
.lighthouseci/
